@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #363546;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

main {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #24252a;
  padding: 0 2rem;
  font-size: 1rem;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 1rem;
}

.navbar a:hover {
  background-color: #333333;
}

.active {
  background-color: #469bfc;
}

.home__background {
  margin-top: 10rem;
  width: 30%;
  height: auto;
}
